<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <tr data-th-each="pokemons : ${user}">
        <td data-th-switch="${message.nom}">
            <p data-th-case="nom">Le nom est Default</p>
            <p data-th-case="pikachu">pikachu apprends le java</p>
            <p data-th-case="*">Inconnu</p>
        <td data-th-unless="${message.nom} == 'nom'">Il n'a pas de nom</td>
        </td>
    </tr>
</body>
</html>